<div class="text-center mb-4">
  <h1 class="mb-4">Terveid</h1>

    <button class="btn btn-success px-4" (click)="openMenu('tervfelvisz')">Új terv hozzáadása</button>

</div>

<div *ngFor="let x of (terv$ | async)"  class="col-lg-12">
<ng-container>
  
  <div class="row">
    <div class="col-lg-4">

      <img [src]="getNoveny(x)?.kep">
    </div>
    <div class="col-lg-4">

      <div class="row mb-1">
        <div class="col-6 fw-bold"><h2>Helyrajzi szám:</h2></div>
        <div class="col-6"><h2>{{getFold(x)?.helyrajzi_szam}}</h2></div>
      </div>

      <div class="row mb-1">
        <div class="col-6 fw-bold">Vetési időpont:</div>
        <div class="col-6">{{ x.vetes_idopont.split('T')[0] }}</div>
      </div>

       <div class="row mb-1">
        <div class="col-6 fw-bold">Növény:</div>
        <div class="col-6">{{ getNoveny(x)?.nnev }}</div>
      </div>

      <div class="row mb-1">
        <div class="col-6 fw-bold">Terület (hektár):</div>
        <div class="col-6">{{getFold(x)?.terulet}}</div>
      </div>

      <div class="row mb-1">
        <div class="col-6 fw-bold">Művelési ág:</div>
        <div class="col-6">{{getFold(x)?.muvelesi_ag}}</div>
      </div>
      
      <div  class="row mb-1">
        <div class="col-6 fw-bold">Vetőmag:</div>
        <div class="col-6">{{getKivVetomag(x)?.fajta}}</div>
      </div>
      <div class="row mb-1">
        <div class="col-6 fw-bold">Vetési tömeg:</div>
        <div class="col-6">{{x.tomeg}}</div>
      </div>

      <div class="row mb-1">
        <div class="col-6 fw-bold">Vetőmag ára:</div>
        <div class="col-6">{{getKivVetomag(x)?.ar}} Ft/kg</div>
      </div>
      <ng-container>{{vanegMutragya(x)}}</ng-container>
      <ng-container *ngIf="mutrMap[x.id]">
      <div class="row mb-1">
        <div class="col-6 fw-bold">Műtrágya:</div>
        <div class="col-6">{{getKivMutragya(x)?.fajta.split(" ").slice(0,2).join(" ")}}</div>
      </div>

    <div class="row mb-1">
            <div class="col-6 fw-bold">Műtrágya tömege:</div>
            <div class="col-6">{{getKivMutragya(x)?.fajta.split(" ").slice(-1)}}</div>
          </div>

      <div class="row mb-1">
        <div class="col-6 fw-bold">Műtrágya ára:</div>
        <div class="col-6">{{getKivMutragya(x)?.ar}} Ft/kg</div>
      </div>
</ng-container>
      
    </div>
      
    
    <div class="col-lg-4">
      <div class="row mb-1"><button (click)="osszevon(x)">Katt</button></div>
      <div class="row mb-1" >
        
        <div class="col-6 fw-bold" >Kiadások:</div>
        
        <div class="col-6" *ngFor="let y of getkiadottcount">{{y['COUNT(k.id)']}} db</div>
      </div>
      
      <div class="row mb-1">
        <div class="col-6 fw-bold">Összes kiadás:</div>
        <div class="col-6" *ngFor="let y of getkiadottsum">{{y['SUM(k.osszeg)']}} Ft</div>
      </div>
      <div class="row mb-1">
        <div class="col-6 fw-bold">Letöltés PDF-ként:</div>
        <div class="col-6"><button (click)="PDFgen(x)">Letöltés</button></div>
      </div>

      <br><br>
      <ng-container *ngIf="!beavszuk">
         <button type="submit" class="btn-primary" >Bevétel számítás</button>
        <h2>{{getossz(x)}} Ft</h2>
    
      </ng-container>
     <ng-container *ngIf="beavszuk">
         <button type="submit" class="btn-primary" (click)="Vegosszeg(x)" [disabled]="getossz(x) !== 0">Bevétel számítás</button>
        <h2>{{osszeg}} Ft</h2>
    
      </ng-container>
      </div>
    </div>
  </ng-container>
  </div>





