<div class="text-center mb-4">
  <h1 class="mb-4">Terveid</h1>

    <button class="btn btn-success px-4" (click)="openMenu('tervfelvisz')">Új terv hozzáadása</button>

</div>

<div *ngFor="let x of (terv$ | async)" class="card shadow-sm mb-4">
  <div class="card-body">
    <div class="row align-items-center">

      <div class="col-lg-3 text-center">
      <img
      [src]="getNoveny(x)?.kep"
      class="img-fluid rounded"
      style="max-height:180px; object-fit:contain">
      <h5 class="mt-2">{{ getNoveny(x)?.nnev }}</h5>
      </div>

      <div class="col-lg-5">
  <h5 class="fw-bold mb-3">
    Helyrajzi szám: {{ getFold(x)?.helyrajzi_szam }}
  </h5>

  <ul class="list-group list-group-flush small">
    <li class="list-group-item d-flex justify-content-between">
      <span>Vetési időpont</span>
      <span>{{ x.vetes_idopont.split('T')[0] }}</span>
    </li>

    <li class="list-group-item d-flex justify-content-between">
      <span>Terület</span>
      <span>{{ getFold(x)?.terulet }} ha</span>
    </li>

    <li class="list-group-item d-flex justify-content-between">
      <span>Művelési ág</span>
      <span>{{ getFold(x)?.muvelesi_ag }}</span>
    </li>

    <li class="list-group-item d-flex justify-content-between">
      <span>Vetőmag</span>
      <span>{{ getKivVetomag(x)?.fajta }}</span>
    </li>

    <li class="list-group-item d-flex justify-content-between">
      <span>Vetési tömeg</span>
      <span>{{ x.tomeg }} kg</span>
    </li>

    <li class="list-group-item d-flex justify-content-between">
      <span>Műtrágya:</span>
      <span>{{getKivMutragya(x)?.fajta.split(" ").slice(0,2).join(" ")}}</span>
    </li>

    <li class="list-group-item d-flex justify-content-between">
      <span>Műtrágya:</span>
      <span>{{getKivMutragya(x)?.fajta.split(" ").slice(0,2).join(" ")}}</span>
    </li>

    <li class="list-group-item d-flex justify-content-between">
      <span>Műtrágya tömege:</span>
      <span>{{getKivMutragya(x)?.fajta.split(" ").slice(-1)}}</span>
    </li>

    <li class="list-group-item d-flex justify-content-between">
      <span>Műtrágya tömege:</span>
      <span>{{getKivMutragya(x)?.ar}} Ft/kg</span>
    </li>

  </ul>
</div>


<div class="col-lg-4">
  <div class="border rounded p-3 bg-light">

    <button class="btn btn-outline-secondary btn-sm w-100 mb-2"
      (click)="osszevon(x)">
      Kiadások számítása
    </button>

    <div class="d-flex justify-content-between small">
      <span>Kiadások:</span>
      <span *ngFor="let y of getkiadottcount">
        {{ y['COUNT(k.id)'] }} db
      </span>
    </div>

      <div class="row mb-1">
        <div class="col-6 fw-bold"><h2>Helyrajzi szám:</h2></div>
        <div class="col-6"><h2>{{getFold(x)?.helyrajzi_szam}}</h2></div>
      </div>

      <div class="row mb-1">
        <div class="col-6 fw-bold">Vetési időpont:</div>
        <div class="col-6">{{ x.vetes_idopont.split('T')[0] }}</div>
      </div>

       <div class="row mb-1">
        <div class="col-6 fw-bold">Növény:</div>
        <div class="col-6">{{ getNoveny(x)?.nnev }}</div>
      </div>

      <div class="row mb-1">
        <div class="col-6 fw-bold">Terület (hektár):</div>
        <div class="col-6">{{getFold(x)?.terulet}}</div>
      </div>

      <div class="row mb-1">
        <div class="col-6 fw-bold">Művelési ág:</div>
        <div class="col-6">{{getFold(x)?.muvelesi_ag}}</div>
      </div>
      
      <div  class="row mb-1">
        <div class="col-6 fw-bold">Vetőmag:</div>
        <div class="col-6">{{getKivVetomag(x)?.fajta}}</div>
      </div>
      <div class="row mb-1">
        <div class="col-6 fw-bold">Vetési tömeg:</div>
        <div class="col-6">{{x.tomeg}}</div>
      </div>

      <div class="row mb-1">
        <div class="col-6 fw-bold">Vetőmag ára:</div>
        <div class="col-6">{{getKivVetomag(x)?.ar}} Ft/kg</div>
      </div>
      <ng-container>{{vanegMutragya(x)}}</ng-container>
      <ng-container *ngIf="mutrMap[x.id]">
      <div class="row mb-1">
        <div class="col-6 fw-bold">Műtrágya:</div>
        <div class="col-6">{{getKivMutragya(x)?.fajta.split(" ").slice(0,2).join(" ")}}</div>
      </div>

    <div class="row mb-1">
            <div class="col-6 fw-bold">Műtrágya tömege:</div>
            <div class="col-6">{{getKivMutragya(x)?.fajta.split(" ").slice(-1)}}</div>
          </div>

      <div class="row mb-1">
        <div class="col-6 fw-bold">Műtrágya ára:</div>
        <div class="col-6">{{getKivMutragya(x)?.ar}} Ft/kg</div>
      </div>
</ng-container>
      
    </div>

      <br><br>
      <ng-container *ngIf="!beavszuk">
         <button type="submit" class="btn-primary" >Bevétel számítás</button>
        <h2>{{getossz(x)}} Ft</h2>
    
      </ng-container>
     <ng-container *ngIf="beavszuk">
         <button type="submit" class="btn-primary" (click)="Vegosszeg(x)" [disabled]="getossz(x) !== 0">Bevétel számítás</button>
        <h2>{{osszeg}} Ft</h2>
    
      </ng-container>
      </div>
    </div>
  </div>
</div>



