<h2>Gazdák:</h2>
<button (click)="gazdatolt()"> Összes gazda </button>
<ul>
 <li *ngFor="let x of adattarolo">
 {{x.id}} - {{ x.nev }} - {{ x.email }}
 </li>
</ul>
<h2>Gazdák összes földjének művelési ága és kiadása:</h2>
<button (click)="gazdafoldkiad()"> Gazdák összes földjének művelési ága és kiadása </button>
<ul >
 <li *ngFor="let y of adattarolo2">
 {{y.nev}} - {{ y.muvelesi_ag }} - {{ y.tipus }}
 </li>
</ul>
<h2>Növények adatai:</h2>
<button (click)="novenyadat()"> Növények adatai </button>
<ul >
 <li *ngFor="let y of adattarolo3">
 {{y.nnev}} - {{ y.inev }} - {{ y.termes_per_kilo }}
 </li>
</ul>
<h2>Előzőév:</h2>
<button (click)="elozoev()"> Előzőév </button>
<ul >
 <li *ngFor="let y of adattarolo4">
 {{y.elozo_evi_hasznositas}}
 </li>
</ul>
<h2>Gazdanev:</h2>
<button (click)="gazdanev()"> Gazdanev </button>
<ul >
 <li *ngFor="let y of adattarolo5">
 {{y.nev}}
 </li>
</ul>
<h2>Veti:</h2>
<button (click)="veti()"> Veti </button>
<ul>
 <li *ngFor="let y of adattarolo6">
 {{y.vetes_idopont}}
 </li>
</ul>
<h2>Datumbuza:</h2>
<button (click)="datumbuza()"> Datumbuza </button>
<ul >
 <li *ngFor="let y of adattarolo7">
 {{y.datum}}
 </li>
</ul>
<h2>Termikili:</h2>
<button (click)="termikili()"> Termikili </button>
<ul >
 <li *ngFor="let y of adattarolo8">
 {{y.nnev}} - {{y.termes_per_kilo}}
 </li>
</ul>

<form (ngSubmit)="editMode ? updateGame() : addGame()">
    <input placeholder="Cím" [(ngModel)]="newGame.title" name="title" required>
    <input placeholder="Műfaj" [(ngModel)]="newGame.genre" name="genre" required>
    <input placeholder="Kiadó" [(ngModel)]="newGame.publisher" name="publisher">
    
   
    <button type="submit">{{editMode ? 'Mentés' : 'Hozzáadás'}}</button>
   </form>
   